
:root {
    --primary-color: #ececec;
    --secondary-color: rgb(248, 248, 248);
    --body-color: rgb(250, 250, 250);
    --max-width: 1200px;
    --order-color: green;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font: normal 1rem/1.5 'Tahoma', sans-serif;
    background: var(--body-color);
    overflow-x: hidden;
}


/* Utility */
.btn {
    padding: 0.5rem 1rem;
    border-radius: 25px;
    margin-bottom: 0.5rem;
    border: 1px rgb(192, 190, 190) solid;
    color: #333;
}
.btn-order { 
    background: var(--order-color);
    color: #fff;
}

a {
    text-decoration: none;
    color: #222;
}

img {
    width: 100%;
}
input[type="text"], input[type="submit"], input[type="search"],
input[type="button"], input[type="number"] {
    outline: none;
}

.price-in {
    color: var(--order-color);
    border: none;
    background: var(--secondary-color);
    font-size: 1.1rem;
}


/* header */
#main-header {
    background: var(--primary-color);
    padding: 2rem 1.5rem;
    padding-bottom: 0.25rem;
    position: sticky;
    top: -2.5rem;
}

#main-header .container {
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    padding: 1rem;
    align-items: center;
    margin: auto;
    max-width: var(--max-width);
}
#main-header .container .head {
    font-size: 1rem;
}
#main-header .container .header-2 {
    display: flex;
    justify-content: space-around;
}

#main-header .container .header-2 .search {
    background: white;
    width: 80%;
    padding: 0.5rem 0.75rem;
    font-size: 1.3rem;
}

/* cart */
h3 {
    font-size: 1.3rem;
    color: #222;
}
#main-header .container .header-2 .cart {
    margin-top: 0.5rem;
}
#main-header .container .header-2 .cart .cart-content {
    white-space: nowrap;
    border: none;
}

#main-header .container .header-2 .cart .cart-content .input {
    padding: 0.2rem 0.5rem;
    font-size: 1.3rem;
    padding-right: 0em;
    width: 1.85rem;
    border: none;
    color: green;
    background: var(--primary-color);
    cursor: pointer;
}


/* Products Main Section Containing the all the products*/
.main-section {
    padding: 0 0.5rem;
    margin-top: -1rem;
    padding-top: 1.2rem;
    min-height: 77vh;
}
.main-section .products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 0 1rem;
}
.main-section .products-container .product {
    background: var(--secondary-color);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
}
.main-section .products-container .product .content:hover {
    border-right: var(--primary-color) solid 2px;
}
.main-section .products-container .active .content:hover {
    border: none;
}

.main-section .products-container .product .content .btns1 {
    margin: 1rem 0;
}
.main-section .products-container .product .content .btns1 .btn-l .like {
    transition: all 0.3s ease-in-out;
}
.main-section .products-container .product .content .btns1 .btn-l,
.main-section .products-container .product .content .btns1 .btn-c,
.main-section .products-container .product .content .btns2 .btn-i,
.main-section .products-container .product .content .btns2 .btn-r {
    margin: 0 0.5rem;
    height: 2.5rem;
    transition: all 0.3s ease-in-out;
} 
.main-section .products-container .product .content .btns1 .btn-l:hover,
.main-section .products-container .product .content .btns1 .btn-l:hover .like,
.main-section .products-container .product .content .btns1 .btn-c:hover {
    background: green;
    color: #fff;
    cursor: pointer;
}

.main-section .products-container .product .content .btns1 .btn-c:active {
    background: rgba(0, 128, 0, 0.8);
}
.main-section .products-container .product .content .btns1 .btn-l:active {
    background: rgba(0, 128, 0, 0.9);
}
.main-section .products-container .product .content .btns2 .btn-r:hover {
    background: red;
    color: #fff;
    cursor: pointer;
}
.main-section .products-container .product .content .btns2 .btn-r:active {
    background: rgba(250, 0, 0, 0.8);
}


.main-section .products-container .product .content .btns2 .input {
    padding: 0.2rem 0.5rem;
    font-size: 1.3rem;
    padding-right: 0em;
    width: 3.85rem;
    color: #333;
    background: var(--secondary-color);
    text-align: center;
}

.main-section .products-container .product .content .like {
    padding: 0.2rem 0.4rem;
    font-size: 1.1rem;
    padding-left: 0em;
    width: 0.7rem;
    color: #333;
    background: var(--secondary-color);
    text-align: center;
    border: none;
}

.main-section .products-container .product .content .price {
    color: green;
}

/* display none with class active in the main section */
.main-section .products-container .active {
    display: none;
}

/* display none for items in active without class active or .section-c */
.section-c .products-container .product {
    background: rgb(134, 134, 134);
    color: #fff;
    display: none;
}
.main-section #itbo {
    display: none;
}

.main-section .products-container .product .content .btns2 {
    display: none;
}
.main-section .final-steps {
    display: none;
}


/* section cart - will display only items with class active and or in section-c*/
.section-c #itbo {
    display: block;
}
.section-c .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.section-c .products-container .active {
    display: grid;
    grid-template-columns: 2fr 4.5fr;
    grid-gap: 1rem;
    background: var(--secondary-color);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
}
.section-c .products-container .active .content {
    display: flex;
    margin: 0.4rem;
    justify-content: space-evenly;

}

.section-c .products-container .active .content  {
    margin-top: 4rem;
}
.section-c .products-container .active .content .price {
    padding-top: 0.3rem;
}

.section-c .products-container .active .content .btns1 {
    display: none;
}
.section-c .products-container .active .content .btns2 {
    display: flex;
}

.section-c .products-container .active .content > p {
    display: none;
}

/* Final Steps */
.section-c .final-steps {
    display: inline;
    padding: 0.5rem;
    padding-bottom: 0;
}
.section-c .final-steps .total-price {
    margin: 0.5rem;
    margin-bottom: 0em;
}
.section-c .final-steps .total-price {
    text-align: center;
}
.section-c .final-steps .total-price input {
    padding: 0.2rem 0.5rem;
    font-size: 1.3rem;
    padding-right: 0em;
    width: 5rem;
    border: none;
    color: green;
    background: var(--body-color);
    text-align: left;
}

/* place order and contact */
.section-c .final-steps .place-order {
    float: right;
    margin-top: -3rem;
    margin-right: 0.5rem;
}
.section-c .final-steps .total-price .total-price-in {
    border: none;
    width: auto;
    text-align: right;
    color: #111;
    cursor: pointer;
}

.section-c .final-steps .total-price i {
    font-size: 1rem;
    padding: 0 0.5rem;
    color: #444;
    cursor: pointer;
}
.section-c .final-steps .place-order .btn-r {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

.section-c .final-steps .place-order .btn-r:hover {
    background: rgba(0, 133, 0, .9);
    transition: all 0.5s ease-in-out;
}
.section-c .final-steps .place-order .btn-r:active {
    background: rgba(0, 133, 0, .8);
}

/* Input Fields */
form .fields {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
form .fields .form {
    width: 12rem;
    position: relative;
    overflow: hidden;
    margin: 5px;
}
form .fields .form-price {
    width: 2.5rem;
}
form .form input {
    width: 120%;
    height: 100%;
    color: #444;
    padding-top: 1.7rem;
    border: none;
    outline: none;
    font-size: 14px;    
    background: var(--secondary-color);
}
form .form label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 100%;
    pointer-events: none;  
    border-bottom: 1px solid black;
}
form .form label::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    bottom: -1px;
    left: 0;
    border-bottom: 1px solid #5fabd3;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}
.content-name {
    position: absolute;
    bottom: 2px;
    left: 0;
    transition: all 0.1s ease;
}

form .form input:focus + .label-name .content-name,
form .form input:valid + .label-name .content-name {
    transform: translateY(-100%);
    font-size: 14px;
    color: #437591;
}
form .form input:focus + .label-name::after, 
form .form input:valid + .label-name::after {
    transform: translateX(0%);
}
.section-c .final-steps .place-order .place-order-btn {
    float: right;
    margin-top: 0.5rem;
}


/* footer */
.main-footer {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    background: #333;
    color: #fff;
    bottom: 0;
}
.main-footer .content {
    padding: 1rem;
    text-align: center;
}
