:root {
    --secondary-color: rgb(247, 247, 247);
}

/* header */
    /* header */
    #main-header {
        background: var(--primary-color);
        padding: 1rem 0.5rem;
        padding-bottom: 0.2rem;
        top: -1.3rem;
    }

    #main-header .container {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        margin: auto;
    }
    #main-header .container .head {
        font-size: 0.8rem;
        padding-bottom: 0.5rem;
    }
    #main-header .container .header-2 .search {
        width: 60%;
        padding: 0.2rem 0.4rem;
        font-size: 1.2rem;
        float: left;
    }
    /* cart */
    h3 { font-size: 1.2rem; }
    #main-header .container .header-2 .cart {
        margin-top: 0rem;
        float: right;
    }


    /* Products */
    .main-section {
            background: linear-gradient(0deg, var(--body-color), var(--primary-color));
    }
    .main-section .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
        margin: 1rem 0rem;
    }

    /* display flex items to be ordered */
    .section-c .products-container .active {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }
    .section-c .products-container .active .content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0rem;
    }
    .section-c .products-container .active .content  {
        margin-top: 0rem;
    }

    /* form part */
    .section-c .final-steps {
        padding-bottom: 2rem;
        padding-bottom: 0;
        margin-top: -1rem;
    }

    .section-c .final-steps .place-order {
        float: right;
        margin-top: 0rem;
        margin-right: 0.2rem;
    }

    form .fields {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .main-footer {
        margin-top: 5rem; 
    }
    



/* For Mobile Phones */
@media(max-width: 600px) {
    #main-header {
        background: var(--primary-color);
        padding: 1rem 0.5rem;
        padding-bottom: 0.2rem;
        top: -1.3rem;
    }
    #main-header .container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: auto;
    }
    #main-header .container .head {
        font-size: 0.8rem;
    }
    #main-header .container .header-2 .search {
        width: 60%;
        padding: 0.2rem 0.4rem;
        font-size: 1.2rem;
        float: left;
    }
    /* cart */
    h3 { font-size: 1.2rem; }
    #main-header .container .header-2 .cart {
        margin-top: 0rem;
    }
    #main-header .container .header-2 .cart .cart-content {
        white-space: nowrap;
        padding: 0.2rem 0.4rem;
    }
    #main-header .container .cart .cart-content .input {
        padding: 0.2rem 0.5rem;
        font-size: 1.2rem;
    }



    /* Products */
    .main-section {
            background: linear-gradient(0deg, var(--body-color), var(--primary-color));
    }
    .main-section .products-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0rem;
        margin: 1rem 0rem;
    }
    /* display flex items to be ordered */
    .section-c .products-container .active {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0rem;
    }
    .section-c .products-container .active .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }
    .section-c .products-container .active .content  {
        margin-top: 0rem;
        margin-bottom: 1rem;
    }
    /* resize buttons */
    .main-section .products-container .product .content .btns1 .btn-l,
    .main-section .products-container .product .content .btns1 .btn-c,
    .main-section .products-container .product .content .btns2 .btn-i,
    .main-section .products-container .product .content .btns2 .btn-r {
        height: 2.2rem;
        padding: 0.3rem 0.4rem;
        margin: 0 0.5rem;
    }
    .main-section .products-container .product .content .btns2 .input {
        padding: 0 0.2rem;
        font-size: 1.2rem;
    }
    .main-section .products-container .product .content .btns1 .like {
        padding: 0;
        font-size: 1.2rem
    }
    .main-section .products-container .product .content .btns2 .input {
        width: 2.8rem;
    } 

    /* form part */
    .section-c .final-steps {
        display: inline;
        padding-bottom: 2rem;
        padding-bottom: 0;
        margin-top: -1rem;
    }

    .section-c .final-steps .place-order {
        float: left;
        margin-top: -1.25rem;
        margin-right: 0.2rem;
    }

    form .fields {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    form .fields .form {
        width: 10.3rem;
        margin: 5px;
    }

    .form-price { display: none;}

    .section-c .final-steps .place-order .place-order-btn {
        margin-top: 0.2rem;
    }
    
    .main-footer {
        margin-top: 5rem; 
        font-size: 0.8rem;
    }
}
